@font-face {
  font-family: "Material-Design-Icons";
  src: url("Material-Design-Icons.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* line 43, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
html, body {
  font-family: Cantarell, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333; }

/* line 53, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
nav .brand-logo {
  padding-left: 1em;
  padding-right: 1em; }

/* line 57, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
.card {
  position: relative;
  float: left !important;
  width: auto;
  height: auto;
  margin: 1em;
  padding: 2em;
  -webkit-animation: fadeIn ease-in 1 !important;
  -moz-animation: fadeIn ease-in 1 !important;
  -o-animation: fadeIn ease-in 1 !important;
  -ms-animation: fadeIn ease-in 1 !important;
  animation: fadeIn ease-in 1 !important;
  -webkit-animation-duration: 0.5s !important;
  -moz-animation-duration: 0.5s !important;
  -o-animation-duration: 0.5s !important;
  -ms-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
  -webkit-animation-fill-mode: forwards !important;
  -moz-animation-fill-mode: forwards !important;
  -o-animation-fill-mode: forwards !important;
  -ms-animation-duration: forwards !important;
  animation-duration: forwards !important; }
  /* line 68, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  .card .card {
    box-shadow: none;
    -webkit-animation: fadeIn ease-in !important;
    -moz-animation: fadeIn ease-in !important;
    -o-animation: fadeIn ease-in !important;
    -ms-animation: fadeIn ease-in !important;
    animation: fadeIn ease-in !important;
    -webkit-animation-duration: 0.75s !important;
    -moz-animation-duration: 0.75s !important;
    -o-animation-duration: 0.75s !important;
    -ms-animation-duration: 0.75s !important;
    animation-duration: 0.75s !important;
    -webkit-animation-fill-mode: forwards !important;
    -moz-animation-fill-mode: forwards !important;
    -o-animation-fill-mode: forwards !important;
    -ms-animation-duration: forwards !important;
    animation-duration: forwards !important; }

@-webkit-keyframes fadeIn {
  /* line 75, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  0% {
    opacity: 0; }

  /* line 77, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  /* line 75, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  0% {
    opacity: 0; }

  /* line 77, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  /* line 75, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  0% {
    opacity: 0; }

  /* line 77, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  /* line 75, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  0% {
    opacity: 0; }

  /* line 77, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  /* line 75, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  0% {
    opacity: 0; }

  /* line 77, /home/ndaigneault/Documents/JacksonShowboats.github.io/assets/all.sass */
  100% {
    opacity: 1; } }

/*# sourceMappingURL=all.css.map */